modules = ["nodejs-20", "web"]
run = ["cd", "server", "&&", "npm" , "run", "dev"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Server"

[[workflows.workflow]]
name = "Server"
mode = "sequential"
author = 38784889

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run build && npm run dev"
